<div class="quizSection">

    <section class="question-container">
        <div class="question-section">{{question}}</div>
            <div class="answer-grid">
                <button class="selectedAnswer" data-id="{{answerOne}}" question-id="{{id}}" category-id="{{category}}" correctAnswer-id ="{{correctAnswer}}" difficulty-id="{{difficulty}}"> {{answerOne}} </button>
                <button class="selectedAnswer" data-id="{{answerTwo}}" question-id="{{id}}" category-id="{{category}}" correctAnswer-id ="{{correctAnswer}}" difficulty-id="{{difficulty}}"> {{answerTwo}}  </button>
                <button class="selectedAnswer" data-id="{{answerThree}}" question-id="{{id}}" category-id="{{category}}" correctAnswer-id ="{{correctAnswer}}" difficulty-id="{{difficulty}}"> {{answerThree}}</button>
                <button class="selectedAnswer" data-id="{{answerFour}}" question-id="{{id}}" category-id="{{category}}" correctAnswer-id ="{{correctAnswer}}" difficulty-id="{{difficulty}}"> {{answerFour}}</button>
            </div>
    </section>

<script src="/js/question.js"></script>

</div>