<div class="quizSection">

{{!-- <body> --}}
    <section class="question-container">
        <div class="question-section">{{question}}</div>
            <div class="answer-grid">
                <button class="selectedAnswer" data-id="{{answerOne}}" question-id="{{id}}" category-id="{{category}}" correctAnswer-id ="{{correctAnswer}}"> {{answerOne}} </button>
                <button class="selectedAnswer" data-id="{{answerTwo}}" question-id="{{id}}" category-id="{{category}}" correctAnswer-id ="{{correctAnswer}}"> {{answerTwo}}  </button>
                <button class="selectedAnswer" data-id="{{answerThree}}" question-id="{{id}}" category-id="{{category}}" correctAnswer-id ="{{correctAnswer}}"> {{answerThree}}</button>
                <button class="selectedAnswer" data-id="{{answerFour}}" question-id="{{id}}" category-id="{{category}}" correctAnswer-id ="{{correctAnswer}}"> {{answerFour}}</button>
            </div>
    </section>
{{!-- </body> --}}

<script src="/js/question.js"></script>

</div>