<div class>

    <h2>{{question}}</h2>
    <div>
        <button class="selectedAnswer" data-id="{{answerOne}}" question-id="{{id}}"> {{answerOne}} </button>
        <button class="selectedAnswer" data-id="{{answerTwo}}" question-id="{{id}}"> {{answerTwo}} </button>
        <button class="selectedAnswer" data-id="{{answerThree}}" question-id="{{id}}"> {{answerThree}} </button>
        <button class="selectedAnswer" data-id="{{answerFour}}" question-id="{{id}}"> {{answerFour}} </button>
    </div>

</div>